@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');

:root {
    --primary-color-darker: #191919;
    --primary-color: rgb(225, 228, 227);
    --primary-color-font: #070c0c;
}

* {
    box-sizing: border-box;
    outline: 0;
    padding: 0;
    margin: 0;
    font-family: 'Open sans', sans-serif;
    color: var(--primary-color-font);
}

body {
    background-image: url("https://images.pexels.com/photos/4753891/pexels-photo-4753891.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    background-position: center;
    background-repeat: no-repeat;
    background-color: #1c1d1d;
}


h1 {
    text-align: center;
    font-weight: 700;
    color: var(--primary-color-font);
}

h2 {
    margin-bottom: 10px;
}

.title {
    margin-top: 20px;
}

.title-image {
    display: flex
}

.balance {
    margin: 10px;
}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.tabela {
    background-color: rgba(255, 255, 255, 0.05);
    box-shadow: 0 0 10px rgba(221, 56, 56, 0.25);
    backdrop-filter: blur(10px);
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    box-shadow: rgb(57, 31, 14) 0px 20px 30px -10px;
}

.box-info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
    padding: 20px;
    line-height: 25px;
}

.box-form {
    width: 100%;
    padding: 20px;
}

label,
input,
button {
    display: block;
    width: 100%;
    font-size: 16px;
    height: 30px;
}

input:focus {
    outline: 1px solid var(--primary-color-darker);
}

button {
    margin-top: 20px;
    background-color: var(--primary-color-darker);
    border: none;
    color: aliceblue;
    cursor: pointer;
}

.resultado-final,
.resultado-negativo {
    background-color: var(--primary-color-darker);
    color: white;
    text-align: center;
    margin-top: 10px;
    height: 30px;
    padding: 5px;
}

.resultado-negativo {
    background-color: rgb(234, 133, 133);
}

@media screen and (max-width:420px) {
    body {
        background-image: url("https://images.pexels.com/photos/4753891/pexels-photo-4753891.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
        background-size: cover;
        background-position: center;

    }

    .box-info {
        gap: 10px;
    }

}

@media screen and (max-width:375px) {
    .tabela {
        margin: 10px;
        height: 70vh;
        background-color: rgba(255, 255, 255, 0.05);
        box-shadow: 0 0 10px rgba(221, 56, 56, 0.25);
        backdrop-filter: blur(10px);
        border-radius: 20px;

    }

}

@media screen and (max-width:340px) {
    .tabela {
        height: 90vh;
    }

}

@media screen and (max-width:280px) {

    h1,
    h2,
    p {
        font-size: 16px;
    }

    .tabela {
        height: 100vh;
    }

    .box-info {
        padding: 10px;

    }

}